.header {
    padding: 5px;
    text-align: center;
    background: #5B7DF3;
    color: white;
    font-size: 15px;
}

.welcome-container {
  padding: 70px;
  width: 70%;
  float: right;
}

button {
  width: 50%;
  background-color: #5B7DF3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}